@charset "utf-8";
/* CSS Document */
body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm;
  		/*width: 21cm; height: 29.7cm;
         margin: 2px auto 2px auto;
         padding: 24px;
         page-break-after: always;*/
  
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
.pull-left{padding-right:10px;float:left!important}
.pull-right{padding-left:10px;float:right!important;}

td {
	font-size: 11px;
	font-family: sans-serif;
	/*color: #666666;*/
}

table {
    border-spacing: 0;
    border-collapse: collapse
}
td, th {
    padding: 0
}
table {
    background-color: transparent
}
caption {
    padding-top: 8 px;
    padding-bottom: 8 px;
    color: #777;text-align:left}th{text-align:left}.table{width:100%;max-width:100%;margin-bottom:20px}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:5px;line-height:1.42857143;vertical-align:top;border-top:1px solid # ddd
}.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2 px solid# ddd
}.table > caption + thead > tr: first-child > td, .table > caption + thead > tr: first-child > th, .table > colgroup + thead > tr: first-child > td, .table > colgroup + thead > tr: first-child > th, .table > thead: first-child > tr: first-child > td, .table > thead: first-child > tr: first-child > th {
    border-top: 0
}.table > tbody + tbody {
    border-top: 2 px solid# ddd
}.table.table {
    background-color: #fff
}.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5 px
}.table-bordered {
    border: 1 px solid# ddd
}.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1 px solid# ddd
}.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2 px
}.table-striped > tbody > tr: nth-of -type(odd) {
    background-color: #f9f9f9
}.table-hover > tbody > tr: hover {
    background-color: #f5f5f5
}
table col[class *= col-] {
    position: static;display: table-column;float: none
}
table td[class *= col-], table th[class *= col-] {
    position: static;display: table-cell;float: none
}.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
    background-color: #f5f5f5
}.table-hover > tbody > tr.active: hover > td, .table-hover > tbody > tr.active: hover > th, .table-hover > tbody > tr: hover > .active, .table-hover > tbody > tr > td.active: hover, .table-hover > tbody > tr > th.active: hover {
    background-color: #e8e8e8
}.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background-color: #dff0d8
}.table-hover > tbody > tr.success: hover > td, .table-hover > tbody > tr.success: hover > th, .table-hover > tbody > tr: hover > .success, .table-hover > tbody > tr > td.success: hover, .table-hover > tbody > tr > th.success: hover {
    background-color: #d0e9c6
}.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
    background-color: #d9edf7
}.table-hover > tbody > tr.info: hover > td, .table-hover > tbody > tr.info: hover > th, .table-hover > tbody > tr: hover > .info, .table-hover > tbody > tr > td.info: hover, .table-hover > tbody > tr > th.info: hover {
    background-color: #c4e3f3

}.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
    background-color: #fcf8e3
}.table-hover > tbody > tr.warning: hover > td, .table-hover > tbody > tr.warning: hover > th, .table-hover > tbody > tr: hover > .warning, .table-hover > tbody > tr > td.warning: hover, .table-hover > tbody > tr > th.warning: hover {
    background-color: #faf2cc
}.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #f2dede
}.table-hover > tbody > tr.danger: hover > td, .table-hover > tbody > tr.danger: hover > th, .table-hover > tbody > tr: hover > .danger, .table-hover > tbody > tr > td.danger: hover, .table-hover > tbody > tr > th.danger: hover {
    background-color: #ebcccc
}.table-responsive {
    min-height: .01 % ;
    overflow-x: auto
}
@media screen and(max-width: 767 px) {.table-responsive {
        width: 100 % ;margin-bottom: 15 px;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;border: 1 px solid# ddd
    }.table-responsive > .table {
        margin-bottom: 0
    }.table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: nowrap
    }.table-responsive > .table-bordered {
        border: 0
    }.table-responsive > .table-bordered > tbody > tr > td: first-child, .table-responsive > .table-bordered > tbody > tr > th: first-child, .table-responsive > .table-bordered > tfoot > tr > td: first-child, .table-responsive > .table-bordered > tfoot > tr > th: first-child, .table-responsive > .table-bordered > thead > tr > td: first-child, .table-responsive > .table-bordered > thead > tr > th: first-child {
        border-left: 0
    }.table-responsive > .table-bordered > tbody > tr > td: last-child, .table-responsive > .table-bordered > tbody > tr > th: last-child, .table-responsive > .table-bordered > tfoot > tr > td: last-child, .table-responsive > .table-bordered > tfoot > tr > th: last-child, .table-responsive > .table-bordered > thead > tr > td: last-child, .table-responsive > .table-bordered > thead > tr > th: last-child {
        border-right: 0
    }.table-responsive > .table-bordered > tbody > tr: last-child > td, .table-responsive > .table-bordered > tbody > tr: last-child > th, .table-responsive > .table-bordered > tfoot > tr: last-child > td, .table-responsive > .table-bordered > tfoot > tr: last-child > th {
        border-bottom: 0
    }
}
@media(max-width: 767 px) {.visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table!important
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs, th.visible-xs {
        display: table-cell!important
    }
}
@media(min-width: 768 px) and(max-width: 991 px) {.visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm, th.visible-sm {
        display: table-cell!important
    }
}
@media(min-width: 992 px) and(max-width: 1199 px) {.visible-md {
        display: block!important
    }
    table.visible-md {
        display: table!important
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md, th.visible-md {
        display: table-cell!important
    }
}
@media(min-width: 1200 px) {.visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table!important
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg, th.visible-lg {
        display: table-cell!important
    }
}
@media print {.visible-print {
        display: block!important
    }
    table.visible-print {
        display: table!important
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print, th.visible-print {
        display: table-cell!important
    }
}.visible-print-block {
    display: none!important
}